*{
    margin:0px;
    padding:0px;
}
header{
    width:100%;
    height:135px;
    background-color: #1b98e0;
    display: block;
    float: left;
}
/*
#e8f1f2 braco
#1b98e0 azul normal
#13293d nigga blue
#247ba0 azul meio escuro
#006494 azul meio mais escuro
*/
header .note{
    float:left;
    display:block;
    height:70px;
    margin-left:20px;
    padding-top:16px;
}
header .pes{
    float: right;
    position: relative;
    top:48%;
    height:40px;
    width:38%;
    margin-right:3px;
}
header .pes input{
    height:28px;
    float: right;
    width:100%;
    background-color:#e8f1f2;
    border-radius:5px;
}
header nav{
    width:100%;
    height:40px;
    background-color:#025074;
    margin-top:20px;
    float:left;
}
header div .lupa{
    display: none;
}
header .insta{
    height:27%;
    float: right;
    margin-right:2px;
}
header .face{
    height:24%;
    float: right;
    margin-top: 3px;
    margin-right: 4px;
    display: block;
}
header .zap{
    height: 29%;
    float: right;
    display: block;
}
.drop{
    background-color: #e8f1f2;
    display: none;
    height:232px;
    width:180px;
    border: black solid 1px;
    border-top: none;
    position: absolute;
}
.cair:hover .drop{
    display:block;
}
header nav button[name="drop"]{
    cursor:pointer;
    border:none;
    height:28px;
    width:180px;
    border-radius:2px;
    background-color:#006594;
}
header nav button p{
    float: left;
    padding-left: 35px;
    font-size:17px;
}
.seta{
    height:14px;
    padding-right: 40px;
    padding-top: 4px;
}
.cair:hover .buto{
    background-color: #e8f1f2;
    border-radius: 0px;
    border: 1px black solid;
    border-bottom: none;
}
.cair{
    cursor:pointer;
    height:28px;
    width:178.5px;
    margin-top: 6px;
    margin-left: 5px;
    border-radius:2px;
    background-color:#006594;
    border:none;
    margin-top: -10px;
    position: absolute;
    z-index: 9999;
}
.drop ul li{
    list-style: none;
    height:28.9px;
    width:178px;
    background-color: #e8f1f2;
    margin-left:-32px;
}
.drop ul li:hover{
    background-color:#006594;
}
.drop ul li a p{
    text-decoration: none;
    padding-top: 3px;
    padding-left: 10px;
}
.drop ul li a{
    text-decoration: none;
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.menus li{
    display:none;
}
.menus{
    position: relative;
    left:190px;
    width:60%;
}
.menus a{
    text-decoration: none;
    color:black;
}
.menus li p{
    padding-left: 30px;
    padding-right:30px;
    padding-top: 4px;
    font-size:17px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
main{
    background-color: #e8f1f2;
    height:1550px;
}
footer{
    background-color:#1b98e0;
    width:100%;
    height:100px;
}
footer div{
    height:5px;
    width:100%;
    background-color:#025074;
    margin-top:-20px;
}
footer img{
    float: right;
    display: block;
    margin-right:10px;
    margin-top:20px;
    height:50%;
}
footer h2{
    height:40px;
    width:50%;
    margin-left:10%;
    padding-top:25px;
    font-size: 120%;
}
#top h2{
    margin-top:15px;
    margin-bottom:15px;
    float: left;
    display: block;
    font-family:fantasy;
    margin-left:10px;
}
.carousel-control-prev{
    margin-top: 190px;
}
.carousel-control-next{
    margin-top: 190px;
}
#top{
    height:700px;
    width:100%;
    float: left;
    display: block;
    line-height:23px;
}
#top h2{
    float: left;
    display: block;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom:-20px;
}
.ban{
    object-fit: cover;
    object-position:0px;
    height:300px;
    width:100%;
    float: left;
    display: block;
    margin-top:50px;
    margin-bottom:30px;
}
.carousel-control-prev{
    margin-top: 40px;
}
.carousel-control-next{
    margin-top: 40px;
}
.pro{
    box-shadow: 0px 0px 10px 1px  black;
    height: auto;
    width: 43%;
    margin-left:4.6%;
    background-color: #e8f1f2;
    float: left;
    display: block;
    margin-top: 25px;
    color:#13293d;
}
.pro:hover{
    color: #1b98e0;
}
.comp{
    width:95%;
    margin-left:2.5%;
    margin-top:7px;
}
.pro p{
    margin-left:10px;
}
.pro strong p{
    font-size:18px;
}
.pro2{
    display: none;
}
.bane{
    object-fit: cover;
    object-position: 0px;
    height:200px;
    width:100%;
    margin-top:20px;
    float: left;
    display: block;
}
.quad{
    height: 200px;
    width:100%;
    background-color:#d3d3d3;
    float: left;
    display: block;
}
.quad{
    margin-top:25px;
}
.caminhodepao{
    margin-top:10px;
    margin-left: 10px;
    margin-bottom:-20px;
}